body{
	color:black;
	background-color:green;
}

#wrapper{
	width:750px;
  margin:0 auto;
}

#header{
	height:80px;
	text-align:center;
  background-color: red;
	font-size:15px;
  }

  #leftbody{
  	float:left;
  	width:190px;
  	height: 70px;
  	background-color:pink;
  	padding-top:20px;
		font-weight: bold;
  }

  #rightbody{
  	float:right;
  	width:560px;
  	height:70px;
  	background-color:orange;
  	padding-top:20px;
		font-weight: bold;
  }

    #midbody{
    height:540px;
    background-color:blue;
		font-weight: bold;
		font-size:18px;
  }

	  #footer{
	  height:70px;
	  background-color:yellow;
		font-weight:bold;
		margin-bottom: 0px;
		clear:both;
}
